@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Sample Page</title>
</head>
<body>
<div>
    Hello sample elmah page!
    <br/><br/>
    To log something to elmah, simply go to page that doesn't exist, like <a href="~/Home/NothingHere" target="_blank">Here</a>
</div>
</body>
</html>