@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>
        This project is an example project that references Elmah.IO.ElasticSearch from Nuget, not from the local source code.
        <br/>
        This is a great testing and training tool.
        <br/>
        To test if Elmah.IO.ElasticSearch is working proprly simply go to a page that doesn't exist.  
        That will generate a 404 error that should be logged in Elmah
    </h3>
</div>
