<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.12.1" targetFramework="net40" />
  <package id="Elasticsearch.Net" version="1.4.2" targetFramework="net40" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net40" />
  <package id="Moq" version="4.1.1309.1617" targetFramework="net40" />
  <package id="NEST" version="1.4.2" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net40" />
  <package id="NUnit" version="2.6.3" targetFramework="net40" />
</packages>